* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

.header h1, .header h2 {
  background-image: linear-gradient(to bottom, aqua, #4597e4);
  margin: 1rem;
  display: flex;
  justify-content: center;
  border: solid 2px black;
  border-radius: 10px;
  font-size: 2.5rem; }

.segundaSeccion {
  border: solid 5px black;
  border-radius: 10px;
  margin: 1rem; }

.primeraSeccion div, .form h2, .primeraSeccion h2 {
  background-image: linear-gradient(to bottom, #682ec5, #ecb0b0);
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
  border: solid 3px black;
  border-radius: 10px; }

.header {
  grid-area: header;
  background-image: linear-gradient(to bottom, #5e17eb, #bd5ef5);
  color: black;
  min-height: 15vh;
  text-align: center; }
  .header div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    margin-left: 1rem; }
  .header a {
    height: 40px;
    transition: height 2s, width 2s;
    width: 100px;
    color: black;
    background-image: linear-gradient(to bottom, aqua, #4597e4);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 100px; }
    .header a:hover {
      height: 40px;
      width: 100px;
      padding: .7rem;
      border: solid 3px black;
      border-radius: 10px; }

.nav {
  background-image: linear-gradient(to bottom, #6166ff, #8356df, #6166ff);
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logoDesktop {
  width: 100px;
  display: flex; }

.nav ul {
  margin-top: 100px;
  width: 100%; }

.nav li {
  width: 250px;
  height: 20px;
  transition: height 3s, width 2s;
  animation-name: cambioColor;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  list-style: none;
  margin: 1rem;
  padding: 10px;
  text-align: center;
  border-radius: 10px; }
  .nav li:hover {
    width: 260px;
    height: 30px;
    border: solid 2px black; }

.nav a {
  color: white;
  text-decoration: none; }

.nav p {
  color: black;
  font-size: 30px;
  background-color: #6166b3;
  border: solid 2px black;
  border-radius: 10px;
  padding: 1rem 5rem 1rem 5rem;
  margin: 1rem;
  transform: skewY(1deg); }

@keyframes cambioColor {
  0% {
    background-color: #4826a5; }
  25% {
    background-color: #8356df; }
  50% {
    background-color: #4826a5; }
  100% {
    background-color: #8356df; } }

.primeraSeccion {
  grid-area: primeraSeccion;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  align-items: center; }
  .primeraSeccion img {
    transform: scale(0.8, 1);
    display: flex;
    padding: 1rem; }

.segundaSeccion {
  grid-area: segundaSeccion;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #6166b3; }
  .segundaSeccion div {
    display: flex;
    justify-content: space-evenly;
    margin-left: 1rem;
    padding: 1rem; }
  .segundaSeccion iframe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 350px;
    padding: 1rem; }

.aside {
  background-image: linear-gradient(to top, #6166ff, #8356df, #8144bb);
  grid-area: aside;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 1rem;
  text-align: center; }
  .aside h2 {
    font-size: 30px;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    background-color: #ba6bf0; }
  .aside ul {
    background-color: #a44bf7;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px; }
  .aside li {
    border-radius: 10px;
    border: solid 2px black;
    list-style: none;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem; }
    .aside li a {
      color: white; }
    .aside li:hover {
      background-color: #e265f3;
      border: solid 2px black;
      border-radius: 10px;
      padding: 0.7rem;
      margin: 0.7rem; }

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 25vh; }
  .form p {
    background-color: #6166b3;
    font-size: 1.5rem;
    border: solid 2px black;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem; }
  .form div {
    width: 600px;
    border: solid 2px black;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #8587e9, #7d36f0);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: #32c1cd; }
  .form input {
    width: 300px;
    height: 30px;
    background-color: #feffff;
    text-align: center;
    margin: 1rem;
    padding-left: 1rem; }
    .form input[type="submit"]:hover {
      background-color: #929cf3; }

.footer {
  background-image: linear-gradient(to right, #8356df, #6166ff, #8356df);
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  flex-direction: row;
  padding: 1rem; }
  .footer a {
    color: white; }
  .footer li {
    background-color: #544179;
    color: white;
    list-style: none;
    background-color: #544179;
    border: solid 2px black;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem; }
    .footer li:hover {
      background-color: #8f4fe4; }
  .footer i {
    padding: 1rem;
    font-size: 4rem;
    color: #544179;
    text-align: end; }
    .footer i:hover {
      color: white; }

.mapa {
  display: flex; }

.segundaSeccion {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .segundaSeccion .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    background-color: #7b60c7;
    border: solid 3px black;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem; }
  .segundaSeccion div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }
  .segundaSeccion span {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .segundaSeccion img {
    max-width: 200px; }
  .segundaSeccion button {
    background-color: #d5a6f0;
    padding: 1rem;
    margin: 1rem;
    border: solid 2px black;
    border-radius: 10px; }
    .segundaSeccion button:hover {
      background-color: #937fda;
      padding: 1.5rem; }
  .segundaSeccion .tituloProductos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to top, #7416b3, #ebb8b8);
    border: solid 2px black;
    margin: 1rem;
    padding: 2rem;
    border-radius: 15px; }
  .segundaSeccion .precio {
    background-color: #c088f5;
    border-radius: 15px;
    padding: 1rem; }

.card {
  display: flex;
  flex-direction: column;
  background-color: #9e56f0;
  border: solid 3px black;
  border-radius: 10px;
  margin: 1rem; }
  .card p {
    background-color: #6c57e6;
    padding: 1rem;
    margin: 1rem; }
  .card h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #c07bf8; }

.segundaSeccion {
  background-color: #71569e;
  padding: 1rem; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
  grid-template-areas: "nav header header header" "nav primeraSeccion primeraSeccion aside" "nav segundaSeccion segundaSeccion aside" "nav form form aside" "footer footer footer footer";
  background-image: radial-gradient(circle, #54e1e4 0%, #443d9a 24%, #5e4499 49%, #2f9bda 89%, #7375f1 99%);
  color: white; }

@media (max-width: 768px) {
  .grilla {
    grid-template-areas: "nav nav nav nav" "header header header header" "primeraSeccion primeraSeccion primeraSeccion aside" "segundaSeccion segundaSeccion segundaSeccion aside" "form form form aside" "footer footer footer footer"; }
  .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap; }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .primeraSeccion img {
    max-width: 300px;
    display: flex;
    padding: 1rem; }
  .segundaSeccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
    .segundaSeccion table {
      margin: -2rem; }
    .segundaSeccion iframe {
      max-width: 290px; }
  .form div {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%; } }

@media (max-width: 425px) {
  .nav {
    display: flex;
    flex-direction: column; }
    .nav li {
      display: flex;
      flex-direction: column;
      padding: 5px; }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; }
    .header div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column; }
  .primeraSeccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center; }
    .primeraSeccion h1 {
      display: flex;
      padding: 1rem;
      flex-wrap: wrap; }
    .primeraSeccion img {
      max-width: 400px;
      display: flex;
      flex-wrap: wrap; }
  .segundaSeccion table {
    margin-left: 1rem; }
  .form {
    display: flex;
    flex-wrap: wrap; }
    .form div {
      display: flex;
      flex-wrap: wrap; }
  .aside {
    display: none; }
  .redes {
    display: flex;
    flex-direction: column; } }

@media (max-width: 375px) {
  .nav {
    display: flex;
    flex-direction: column; }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .header div {
      display: flex;
      flex-direction: column; }
  .nav li {
    display: flex;
    flex-direction: column;
    padding: 5px; }
  .primeraSeccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center; }
    .primeraSeccion h1 {
      display: flex;
      padding: 1rem;
      flex-wrap: wrap; }
    .primeraSeccion h2 {
      margin-left: 3rem; }
    .primeraSeccion img {
      margin-left: 1rem;
      max-width: 376px;
      display: flex;
      flex-wrap: wrap; }
  .segundaSeccion iframe {
    max-width: 250px; }
  .form {
    display: flex;
    flex-wrap: wrap; }
    .form div {
      display: flex;
      align-content: center;
      flex-wrap: wrap; }
  .aside {
    display: none; }
  .redes {
    display: flex;
    flex-direction: column; } }
