
.primeraSeccion{
    h2{
        @extend %estiloTitulos;
    }
}
.segundaSeccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    .card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
        background-color: rgb(123, 96, 199);
        border: solid 3px black;
        border-radius: 10px;
        margin: 1rem;
        padding: 1rem;
        &:hover{
            background-color:lighten($color: #9b58f3, $amount: 5);
        }
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    span{
        display: flex;
        flex-direction: column;
        justify-content: center;
       }
    img{
        max-width: 200px;
    }
    button{
        background-color: rgb(213, 166, 240);
        padding: 1rem;
        margin: 1rem;
        border: solid 2px black;
        border-radius: 10px;
        &:hover{
            background-color: rgb(147, 127, 218);
            padding: 1rem;
            
        }
    }
   .tituloProductos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to top, rgb(116, 22, 179),rgb(235, 184, 184));
    border: solid 2px black;
    margin: 1rem;
    padding: 2rem;
    border-radius:15px;
    display: flex;
    justify-content: center;
   }
   .precio{
    background-color: rgb(192, 136, 245);
    border-radius: 15px;
    padding: 1rem;
   }
    
}
